//  color
$leftMainColor : #FF7400;
$rightMainColor: #FF0400;
$topSideBar : #FF00FF; 
$bottomSideBar : #1900FF;
$leftFontColor: #FF0400;

// font-size
$headerFont : 30px;
$leftContentFont : 20px;
$centerContentFont: 70px;
$centerContentFont2 : 45px;
$rightContentFont: 20px;
$rightArticleHeaderFont: 30px;
$rightArticleContentFont: 20px;
