@import "_reset.scss"; 
@import "_variable.scss";

body {
  height: 100vh;
  width: 100%;
  font-weight: bold;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  -ms-overflow-style: none;
  & .left-aside {
    width: 60%;
    height: 100%;
    background-color: $leftMainColor;
    overflow-y: scroll;
    & .header {
      font-size: $headerFont;
        color: $leftFontColor;
        width: 1100px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        margin-left: 20px;
        margin-bottom: 40px;
      }
      & .select-container{
        display: grid;
        cursor: pointer;
        margin: 0 20px ;
        grid-template-columns: 1100px;
        grid-template-rows: repeat(15, 150px);
        color: $leftFontColor;
        & .select {
            display: flex;
            border: 2px solid $leftFontColor;
            height: 150px;
            border-bottom: none;
             & .left-content {
              width: 50px;
              writing-mode: vertical-lr;
              transform: rotate(180deg);
              border-left: 2px solid $leftFontColor;
              line-height: 50px;
              text-align: center;
              font-size: $leftContentFont;
            }
             & .center-content {
              width: 800px;
              border-right: 2px solid $leftFontColor;
              line-height: 150px;
              font-size: $centerContentFont;
              padding-left: 15px;
             }
             & .right-content {
              width: 250px;
              text-align: center;
              font-size: $rightContentFont;
              & .first-content {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 75px;
                  border-bottom:  2px solid $leftFontColor;
                }
                & .second-content {
                  height: 75px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  & div {
                    width: 180px;
                    height: 50px;
                    line-height: 50px;
                    border-radius: 30px;
                    background-color: $leftFontColor;
                    color:  $leftMainColor;
                  }
                }
             }
          }
          & .select:last-child {
            border-bottom: 2px solid $leftFontColor;
          }
          & .select:hover {
            color: #fff;
            border: 2px solid #fff;
            & .left-content {
              border-left: 2px solid #fff;
            }
            & .center-content {
              border-right: 2px solid #fff;
            }
            & .first-content {
              border-bottom: 2px solid #fff;
            }
            & .second-content div {
              background-color: #fff;
            }
          }
      }
    }
    & .sideBar {
    width: 60px;
    height: 100%;
    font-size: $headerFont;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    &  .topSide {
      padding-top: 20px;
      display: flex;
      align-items: center;
      writing-mode: vertical-rl;
      background-color: $topSideBar;
    }
   & .logo {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 10;
    top: calc( 50% - 40px );
    left: -18%;
    animation: rot 2s linear infinite;
    } 
    @keyframes rot {
      0% {transform: rotate(0);}
      100% {transform: rotate(360deg);}
      
    }
    &  .bottomSide {
      padding-top: 20px;
      display: flex;
      align-items: center;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      background-color: $bottomSideBar;
     }
  }
    & .right-aside {
    width: 37%;
    height: 100%;
    background-color: $rightMainColor;
    overflow-y: scroll;
  }
}
  section ::-webkit-scrollbar {
          display: none;
        }


.right-aside {
  & .choiceBtn {
    font-size: $headerFont;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 0;
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
  }

  & .right-section {
    display: grid;
    grid-template-columns: repeat(2, 330px);
    grid-template-rows: repeat(7, minmax(170px, 1fr));
    margin:0 40px;
      & article {
        cursor: pointer;
        & .article-header{
          width: 95%;
          border-top: 2px solid black;
          font-size: $rightArticleHeaderFont;
          margin-bottom: 10px;
        }
        & .article-content {
          width: 95%;
          font-size: $rightArticleContentFont;
        }
      }
      & article:hover {
        color: #fff;
      }
  }
}

input[type="radio"], input[type="radio"]:checked{
  cursor: pointer;
  width: 25px;
  height: 25px;
  outline: none;
  appearance: none;
  border-radius: 50%;
  margin-right: 10px;
}

label {
  cursor: pointer;
}

.left-aside input[type="radio"] {
  border: 2px solid $leftFontColor;
  background-color: $leftMainColor;
}
.left-aside input[type="radio"]:checked {
  background-color: $leftFontColor;
}
.right-aside input[type="radio"] {
  border: 2px solid #000;
  background-color: $rightMainColor;
}
.right-aside input[type="radio"]:checked {
  background-color: #000;
}

@media screen and (max-width:1860px) {
  .left-aside {
    & .header {
      & div:nth-child(1){
        padding-left: 50px;
      }
      & div:nth-child(2){
        padding-right: 150px;
      }
    }

    & .header div label{
      font-size: 24px;
    }
    & .select-container {
      padding-left: 50px;
      & .select {
        width: 900px;
        }
      }
  }  

    .right-aside {
     & .choiceBtn {
      font-size: 24px;
      display: block;
      padding-left: 40px;
        & div{
          margin-bottom: 5px;
        }
     }
  & .right-section {
    grid-template-columns: repeat(1, 550px);
    grid-template-rows: repeat(14, minmax(170px, 1fr));
    & article {
      width: 550px;
    }
  }
}

input[type="radio"], input[type="radio"]:checked{
width: 20px;
height: 20px;
}

}
@media  screen and (max-width:1600px) {
  .left-aside {
    & .header {
      & div:nth-child(1){
        padding-left: 50px;
      }
      & div:nth-child(2){
        padding-right: 350px;
      }
    }

    & .select-container {
      padding-left: 50px;
      & .select {
        width: 700px;
          & .left-content,.right-content {
            display: none;
          }
        }
      }
  }
  .center-content {
    font-size: 20px;
  }  
}

@media screen and (max-width:1540px) {
  .left-aside {
    & .header {
      font-size: 24px;
    }
  }
  .right-aside {
   
  & .right-section {
    grid-template-columns: repeat(1, 450px);
    & article {
      width: 400px;
    }
  }
}
}

@media screen and (max-width:1300px) {
  .left-aside {
    display: none;
  }
  section {
    & .right-aside {
      width: 100%;
          }
        }
    }